{% load i18n %}{% autoescape off %}
{% blocktrans %} Has recibido este email porque requeriste restablecer tu contraseña de tu cuenta en {{ site_name }}.{% endblocktrans %}

{% trans "Por favoe ve a la siguiente pagina y elige una nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'cuentas:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Tu Nombre de usuario, que olvidaste es:" %} {{ user.get_username }}

{% trans "Gracias por usar nuestro sitio!" %}

{% blocktrans %}El equipo {{ site_name }} {% endblocktrans %}

{% endautoescape %}
